<html>
  <head>
    <style>
    .cd_position {
      padding-right: 10px;
    }
    .cd_position:last-child {
     padding-right: 0px;
    }
    </style>
  </head>
<body>
<div class="container">


<div class="well well-sm">月曜日</div>

<% if @doramas.present? %>
                <table class="table table-bordered">
                  <tbody>
                      <tr>
                          <% @cds.each_with_index do |cd_product, i| %>
                              <% if  i % 2 ==0 %>
                                    <tr>
                              <% end %>
                              <td>
                                <% if cd_product.jacket_image.present? %>
                                  <%= link_to cd_product_path(cd_product.id) do %>
                                    <%= image_tag "#{cd_product.jacket_image}", :size =>'250x250' %>
                                  <% end %>
                                <% else %>
                                  <%= link_to cd_product_path(cd_product.id) do %>
                                    <img src="/assets/no_image.jpg", width="250", height="250">
                                  <% end %>
                                <% end %>
                                  <p>CD名:<%= cd_product.name %></p>
                                  <p>アーティスト名:<%= cd_product.artist.name %></p>
                                  <br>
                                  <h4>ドラマ:<%= cd_product.dorama.name %></h4>
                              </td>
                              <% if (i + 1) % 2 == 0 %>
                                    </tr>
                              <% end %>
                              <% if (i == @doramas.size - 1) && ((i + 1) % 2 == 2)%>
                                  </tr>
                              <% end %>
                          <% end %>
                  </tbody>
                </table>
                <%= paginate @doramas %>
              <% end %>

<div class="well well-sm">火曜日</div>
<div class="well well-sm">水曜日</div>
<div class="well well-sm">木曜日</div>
<div class="well well-sm">金曜日</div>
<div class="well well-sm">土曜日</div>
<div class="well well-sm">日曜日</div>

</div>
</body>
</html>

