<html>
  <head>
    <style>
    .cd_position {
      padding-right: 10px;
    }
    .cd_position:last-child {
     padding-right: 0px;
    }
    </style>
  </head>
<body>
<div class="container">


<div class="well well-sm">月曜日</div>
<% if @doramas.present? %>
      <table>
        <tbody>
          <tr>
            <% @doramas.each_with_index do |dorama, i| %>
              <% if  i % 4 ==0 %>
            <tr>
            <% end %>
            <td class="cd_position">
              <% @cds.each do |cd_product| %>
                <% if cd_product.dorama_id == dorama.id %>
                  <% if cd_product.jacket_image.present? %>
                      <%= link_to cd_product_path(cd_product.id) do %>
                        <%= image_tag "#{cd_product.jacket_image}", :size =>'250x250' %>
                      <% end %>
                  <% else %>
                      <%= link_to cd_product_path(cd_product.id) do %>
                        <img src="/assets/no_image.jpg", width="250", height="250">
                      <% end %>
                  <% end %>
                  <p>CD名:<%= cd_product.name %></p>
                  <p>ドラマ:<%= dorama.name %></p>
                  <% end %>
              <% end %>
            </td>
              <% if (i + 1) % 4 == 0 %>
            </tr>
              <% end %>
              <% if (i == @cds.size - 1) && ((i + 1) % 4 == 2)%>
          </tr>
              <% end %>
            <% end %>
        </tbody>
      </table>
      <%= paginate @doramas %>
<% end %>


<div class="well well-sm">火曜日</div>
<div class="well well-sm">水曜日</div>
<div class="well well-sm">木曜日</div>
<div class="well well-sm">金曜日</div>
<div class="well well-sm">土曜日</div>
<div class="well well-sm">日曜日</div>

</div>
</body>
</html>

