<html>
<head>
<style>
.title_background_image{
  	background-image:  url(/assets/dorama_top.jpeg);
  	background-size: cover;
}

.inline-block{
	display:inline-block;
}
</style>
</head>
<body>
	<!-- 頭文字検索 -->
	<p class = "inline-block">頭文字検索</p>
	<% @title_heads = [ "あ", "か", "さ", "た", "な", "は", "ま", "や", "ら", "わ"] %>
	<% for title_head_num in 1..10 do %>
		<div class="dropdown inline-block">
			<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
				<%= @title_heads[title_head_num - 1] %>
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<% @doramas.where(title_head_id: title_head_num).each do |dorama| %>
					<li role="presentation"><a href="#"><%= dorama.name %></a></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<!-- タイトル部分 -->
	<div class="jumbotron title_background_image">
		<h1 style="color:black">ドラマ音楽トップ</h1>
		<p style="color:black"><%= link_to "最新ドラマ情報はコチラ", root_path %></p>
	</div>
	<!-- ドラマCD一覧 -->
	<h3>ドラマ音楽CD一覧</h3>
	<% if@cd_products.present? %>
		<table class="table table-bordered">
			<tbody>
				<tr>
					<% @cd_products.each_with_index do |cd_product, i| %>
						<% if  i % 3 ==0 %>
						  	<tr>
						<% end %>
						<td>
							<img src="/assets/dorama_top.jpeg">
							<p>CD名：<%= cd_product.name %></p>
							<% selected_artist = Artist.find_by(id: cd_product.artist_id) %>
							<p>アーティスト名<%= selected_artist.name %></p>
							<p>リリース日：<%= cd_product.release_date %></p>
							<% selected_dorama = Dorama.find_by(id: cd_product.dorama_id) %>
							<p>ドラマ名：<%= selected_dorama.name %></p>
						</td>
						<% if (i + 1) % 3 == 0 %>
						  	</tr>
						<% end %>
						<% if (i == @cd_products.size - 1) && ((i + 1) % 3 == 2)%>
							</tr>
						<% end %>
					<% end %>
			</tbody>
		</table>
		<%= paginate @cd_products %>
	<% end %>
	<!-- ページャー -->
</body>
</html>


