<html>
<head>
<style>
.title_background_image{
  background-image:  url(/assets/cm_top.jpeg);
  background-size: cover;
}
</style>
</head>
<body>
	<!-- 商品名検索 -->
	<%= render partial: 'cms/goods_name_search' %>
	<!-- 会社名検索 -->
	<%= render partial: 'cms/company_name_search' %>
	<!-- タイトル部分 -->
	<div class="jumbotron title_background_image">
		<h1 style="color:white">CM音楽トップ</h1>
		<p style="color:white"><%= link_to "最新CM情報はコチラ", root_path %></p>
	</div>
	<!-- CMCD一覧 -->
	<h3>CM音楽CD一覧</h3>
		<% if@cd_products.present? %>
		<table class="table table-bordered">
			<tbody>
				<tr>
					<% @cd_products.each_with_index do |cd_product, i| %>
						<% if  i % 3 ==0 %>
						  	<tr>
						<% end %>
						<td>
							<img src="/assets/cm_top.jpeg">
							<p>CD名：<%= cd_product.name %></p>
							<% selected_artist = Artist.find_by(id: cd_product.artist_id) %>
							<p>アーティスト名：<%= selected_artist.name %></p>
							<p>リリース日：<%= cd_product.release_date %></p>
							<% selected_goods = Good.find_by(id: cd_product.goods_id) %>
							<p>商品名：<%= selected_goods.goods %></p>
							<% selected_company = Company.find_by(id: selected_goods.company_id) %>
							<p>会社名：<%= selected_company.company %></p>
						</td>
						<% if (i + 1) % 3 == 0 %>
						  	</tr>
						<% end %>
						<% if (i == @cd_products.size - 1) && ((i + 1) % 3 == 2)%>
							</tr>
						<% end %>
					<% end %>
			</tbody>
		</table>
		<%= paginate @cd_products %>
	<% end %>
</body>
</html>

