<%= render partial: 'cd_products/header' %>
  <div class="main clearfix">
	<div class="main-content">
	<!-- 映画CD一覧 -->
	<h3>最新映画音楽CD</h3>
		<% if@cd_products.present? %>
			<% @cd_products.each_with_index do |cd_product, i| %>
				<div class="row">
					<div class="col-xs-6">
						<% if cd_product.jacket_image.present? %>
							<%= link_to cd_product_path(cd_product.id) do %>
								<%= image_tag "#{cd_product.jacket_image}", :size =>'300x300' %>
							<% end %>
						<% else %>
							<%= link_to cd_product_path(cd_product.id) do %>
								<img src="/assets/no_image.jpg", width="300", height="300">
							<% end %>
						<% end %>
						<p>CD名：<%= cd_product.name %></p>
						<p>アーティスト名：<%= cd_product.artist.name %></p>
						<p>リリース日：<%= cd_product.release_date %></p>
					</div>
					<div class="col-xs-6">
						<% if cd_product.jacket_image.present? %>
							<%= link_to cd_product_path(cd_product.id) do %>
								<%= image_tag "#{cd_product.movie.movie_image}", :size =>'300x300' %>
							<% end %>
						<% else %>
							<%= link_to cd_product_path(cd_product.id) do %>
								<img src="/assets/no_image.jpg", width="300", height="300">
							<% end %>
						<% end %>
						<p>映画名：<%= cd_product.movie.movie_name %></p>
						<p>公開日：<%= cd_product.movie.movie_release %></p>
					</div>
				</div>
			<% end %>
		<% end %>
	</div>
	<%= render partial: 'cd_products/sidebar' %>
  </div>
  <%= render partial: 'cd_products/footer' %>

