<html>
<head>
</head>
<body>
	<!-- 頭文字検索 -->
	<%= render partial: 'movies/movie_title_search', locals: { movies: @movies } %>
	<!-- タイトル部分 -->
	<div class="jumbotron" style="background-image: url(/assets/movie_top.jpeg);background-size: cover;">
		<h1 style="color:white">映画音楽トップ</h1>
		<p style="color:white"><%= link_to "最新映画情報はコチラ", movie_feature_path %></p>
	</div>
	<!-- 映画CD一覧 -->
	<h3>映画音楽CD一覧</h3>
	<% if@cd_products.present? %>
		<table class="table table-bordered">
			<tbody>
				<tr>
					<% @cd_products.each_with_index do |cd_product, i| %>
						<% if  i % 3 ==0 %>
						  	<tr>
						<% end %>
						<td>
							<img src="/assets/movie_top.jpeg">
							<p>CD名：<%= cd_product.name %></p>
							<% selected_artist = Artist.find_by(id: cd_product.artist_id) %>
							<p>アーティスト名：<%= selected_artist.name %></p>
							<p>リリース日：<%= cd_product.release_date %></p>
							<% selected_movie = Movie.find_by(id: cd_product.movie_id) %>
							<p>映画名：<%= selected_movie.movie_name %></p>
						</td>
						<% if (i + 1) % 3 == 0 %>
						  	</tr>
						<% end %>
						<% if (i == @cd_products.size - 1) && ((i + 1) % 3 == 2)%>
							</tr>
						<% end %>
					<% end %>
			</tbody>
		</table>
		<%= paginate @cd_products %>
	<% end %>
	<br />
	<%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "logout"  %>
</body>
</html>



