<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="style.css">
	<style>
		.era_search_btn {
		  width: 320px;
		  height: 150px;
		  font-size: 50px;
		  line-height: 130px;
		}
		.era_search_table {
		  margin: auto;
		}
		.era_search_td {
          padding: 15px;
		}
        .era_search_title {
        	text-align: center;
        	font-size: 20px;
        	font-weight: 500;
        }
	</style>
</head>
<body>
	<%= render partial: 'cd_products/header' %>
  <div class="main clearfix">
	<div class="main-content">
		<table class="era_search_table">
		  <thead>
		    <div class="well well-sm era_search_title clearfix"><span class="glyphicon glyphicon-headphones"></span> 楽曲の年代を選択</div>
		  </thead>
		  <tbody>
			<tr>
		      <td class="era_search_td"><%= link_to "1980年代", 'release_era_tag/1', class:"btn btn-lg btn-info era_search_btn glyphicon glyphicon-zoom-in" %></td>
			  <td class="era_search_td"><%= link_to "1990年代", 'release_era_tag/2', class:"btn btn-lg btn-info era_search_btn glyphicon glyphicon-zoom-in" %></td>
			</tr>
			<tr>
			  <td class="era_search_td"><%= link_to "2000年代", 'release_era_tag/3', class:"btn btn-lg btn-info era_search_btn glyphicon glyphicon-zoom-in" %></td>
			  <td class="era_search_td"><%= link_to "2010年代", 'release_era_tag/4', class:"btn btn-lg btn-info era_search_btn glyphicon glyphicon-zoom-in" %></td>

			</tr>
		  </tbody>
		</table>
	</div>
    <%= render partial: 'cd_products/sidebar' %>
  </div>
  <%= render partial: 'cd_products/footer' %>
</body>
</html>
