<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="skippr.css">
	<link rel="stylesheet" href="style.css">
	<title>trend_music_encount</title>
</head>
<body>
	<%= render partial: 'cd_products/header' %>

	<div class="main-visual">
        <div class="theTarget">
            <div class="slide_1"></div>
            <div class="slide_2"></div>
            <div class="slide_3"></div>
            <div class="slide_4"></div>
            <div class="slide_5"></div>
        </div>
	</div>
	<div class="main clearfix">
		<div class="main-content">
			<!-- 映画コンテンツ -->
			<div class="movie-content">
			  <% if @movies.present? %>
                <table class="table table-bordered">
                  <tbody>
                      <tr>
                          <% @movies.each_with_index do |cd_product, i| %>
                              <% if  i % 3 ==0 %>
                                    <tr>
                              <% end %>
                              <td><% if cd_product.jacket_image.present? %>
                                     <%= link_to cd_product_path(cd_product.id) do %>
                                       <%= image_tag "#{cd_product.jacket_image}", :size =>'250x250' %>
                                     <% end %>
                                   <% else %>
                                     <%= link_to cd_product_path(cd_product.id) do %>
                                       <img src="/assets/no_image.jpg", width="250", height="250">
                                     <% end %>
                                   <% end %>
                                  <p>CD名:<%= cd_product.name %></p>
                                  <p>映画名:<%= cd_product.movie.movie_name %></p>
                              </td>
                              <% if (i + 1) % 3 == 0 %>
                                    </tr>
                              <% end %>
                              <% if (i == @movies.size - 1) && ((i + 1) % 3 == 2)%>
                                  </tr>
                              <% end %>
                          <% end %>
                  </tbody>
                </table>
              <% end %>
			  <%= link_to "もっと見る",movies_path %>
			</div>

            <!-- CMコンテンツ -->
			<div class="cm-content">
			   <% if @commodities.present? %>
                <table class="table table-bordered">
                  <tbody>
                      <tr>
                          <% @commodities.each_with_index do |cd_product, i| %>
                              <% if  i % 3 ==0 %>
                                    <tr>
                              <% end %>
                              <td>
                                <% if cd_product.jacket_image.present? %>
                                  <%= link_to cd_product_path(cd_product.id) do %>
                                    <%= image_tag "#{cd_product.jacket_image}", :size =>'250x250' %>
                                  <% end %>
                                <% else %>
                                  <%= link_to cd_product_path(cd_product.id) do %>
                                    <img src="/assets/no_image.jpg", width="250", height="250">
                                  <% end %>
                                <% end %>
                                <p>CD名：<%= cd_product.name %></p>
                                <p>商品:<%= cd_product.commodity.commodity %></p>
                              </td>
                              <% if (i + 1) % 3 == 0 %>
                                    </tr>
                              <% end %>
                              <% if (i == @commodities.size - 1) && ((i + 1) % 3 == 2)%>
                                  </tr>
                              <% end %>
                          <% end %>
                  </tbody>
                </table>
              <% end %>
			  <%= link_to "もっと見る",cms_path %>
			</div>
			<!-- ドラマコンテンツ -->
			<div class="dorama-content">
			  <% if @doramas.present? %>
                <table class="table table-bordered">
                  <tbody>
                      <tr>
                          <% @doramas.each_with_index do |cd_product, i| %>
                              <% if  i % 3 ==0 %>
                                    <tr>
                              <% end %>
                              <td>
                                <% if cd_product.jacket_image.present? %>
                                  <%= link_to cd_product_path(cd_product.id) do %>
                                    <%= image_tag "#{cd_product.jacket_image}", :size =>'250x250' %>
                                  <% end %>
                                <% else %>
                                  <%= link_to cd_product_path(cd_product.id) do %>
                                    <img src="/assets/no_image.jpg", width="250", height="250">
                                  <% end %>
                                <% end %>
                                  <p>CD名：<%= cd_product.name %></p>
                                  <p>ドラマ:<%= cd_product.dorama.name %></p>
                              </td>
                              <% if (i + 1) % 3 == 0 %>
                                    </tr>
                              <% end %>
                              <% if (i == @doramas.size - 1) && ((i + 1) % 3 == 2)%>
                                  </tr>
                              <% end %>
                          <% end %>
                  </tbody>
                </table>
              <% end %>
			  <%= link_to "もっと見る",doramas_path %>
			</div>
		</div>
		<%= render partial: 'cd_products/sidebar' %>
	</div>
		<%= render partial: 'cd_products/footer' %>

	<script src="jquery-3.2.1.min.js"></script>
	<script src="skippr.min.js"></script>
	<script src="script.js"></script>
	<script>
		function showBalloon(){
			var wObjballoon	= document.getElementById("makeImg");
			if (wObjballoon.className == "balloon1"){
				wObjballoon.className = "balloon";
			}else{
				wObjballoon.className = "balloon1";
			}
		}
	</script>
</body>
</html>
