<html>
  <head>
    <style>
    .cd_position {
      padding-right: 10px;
    }
    .cd_position:last-child {
     padding-right: 0px;
    }
    </style>
  </head>
<body>
  <div class="container">
    <div class="well well-sm">XXXを含む検索結果Y件</div>
<!-- CD一覧 -->
	<% if@cd_products.present? %>
		<table class="table table-bordered">
			<tbody>
				<tr>
					<% @cd_products.each_with_index do |cd_product, i| %>
						<% if  i % 3 ==0 %>
						  	<tr>
						<% end %>
						<td>
							<img src="/assets/movie_top.jpeg">
							<p>CD名：<%= cd_product.name %></p>
							<% selected_artist = Artist.find_by(id: cd_product.artist_id) %>
							<p>アーティスト名：<%= selected_artist.name %></p>
							<p>リリース日：<%= cd_product.release_date %></p>
							<% selected_movie = Movie.find_by(id: cd_product.movie_id) %>
							<p>映画名：<%= selected_movie.movie_name %></p>
						</td>
						<% if (i + 1) % 3 == 0 %>
						  	</tr>
						<% end %>
						<% if (i == @cd_products.size - 1) && ((i + 1) % 3 == 2)%>
							</tr>
						<% end %>
					<% end %>
			</tbody>
		</table>
		<%= paginate @cd_products %>
	<% end %>
<!-- ペ-ジャー -->
</div>
</body>
</html>



