<html>
  <head>
    <style>
    .cd_position {
      padding-right: 10px;
    }
    </style>
  </head>
  <body>
<!-- CD詳細 -->
  <div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4">
          <img src="/assets/no_image.jpeg", width="300px" height="300px">
        </div>
        <div class="col-md-6">
          <table class="table table-striped">
  	          <thead>
              <tr>
                <h4>CD情報</h4>
              </tr>
              </thead>
  	          <tbody>
  	  	        <tr>
  	  	          <td>タイトル</td>
  	  	          <td><p><%= @cd_product.name %><p></td>
  	  	          <td></td>
  	  	        </tr>
  	  	        <tr>
  	  	          <td>アーティスト</td>
  	  	          <td><%= @cd_product.artist.name %></td>
  	  	          <td></td>
  	  	        </tr>
  	            <tr>
  	  	          <td>価格（税込）</td>
  	  	          <td>￥<%= @cd_product.price %></td>
  	  	          <td><% if @cd_product.stock_number == 0 then %>SOLDOUT
                      <% else %>
                      <% @cd_product.stock_number >= 1  %>在庫あり
                      <% end %>
                  </td>
  	  	        </tr>
  	        </tbody>
          </table>
          <button type="button" class="btn btn-danger btn-lg">カートに入れる</button>
          <button type="button" class="btn btn-warning btn-lg">お気に入りに追加</button>
          <table class="table table-bordered">
              <thead>
             <tr>
              <h4>商品情報</h4>
              </tr>
            </thead>
              <tbody>
          	  	<tr>
          	  	  <td>発売日</td>
          	  	  <td><%= @cd_product.release_date %></td>
          	  	</tr>
           	  	<tr>
          	  	  <td>レーベル</td>
          	  	  <td><%= @cd_product.label.name %></td>
          	  	</tr>
          	  </tbody>
          </table>
          </div>
        <div class="col-md-1"></div>
    </div>



    <h4>収録曲</h4>
      <% @discs.each do |disc| %>
        <table class="table table-hover">
                <thead>
                  <tr>
                  <p>Disc<%= disc.disc %></p>
                  </tr>
                </thead>
                <tbody>
                  <% @songs.each do |song| %>
                    <% if song.disc_id == disc.id %>
                      <tr>
                        <td><%= song.track_number_id %></td>
                        <td><%= song.name %></td>
                        <td>
                          <% selected_genre = Genre.find_by(id: song.genre_id) %>
                          <%= selected_genre.name %>
                        </td>
                      </tr>
                    <% else %>
                    <% end %>
                  <% end %>
                </tbody>
              </table>
         <% end %>
    <!-- CD詳細ここまで -->

    <!-- 映画、ドラマ、CM情報 -->
              <div class="well well-sm">アーティスト関連情報</div>
                  <div class="row">
                    <div class="col-md-4">
                      <img src="/assets/dorama_top.jpeg", width="300px" height="150px">
                    </div>
                  <div class="col-md-8">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>映画、ドラマ、CM会社名</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>公開日、放送開始日、放送曜日、youtubeアップ日</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
              </div>
    <!-- 映画、ドラマ、CM情報ここまで -->

    <!-- 関連楽曲 -->
              <div class="well well-sm">このアーティストの関連楽曲</div>
                <table>
                  <tbody>
                	<tr>
                    <% @cd_products.each do |cd_product| %>
                    <td class="cd_position">
                  	  <img src="/assets/no_image.jpeg", width="220px" height="220px">
    					        <p><%= cd_product.name %></p>
    				        </td>
                    <% end %>
                	</tr>
                  </tbody>
                </table>
                <%= paginate @cd_products %>
    <!-- 関連楽曲ここまで -->
        </div>
      </div>
    </div>
  </body>
</html>