<html>
  <head>
    <style>
    .cd_position {
      padding-right: 10px;
    }
    </style>
  </head>
  <body>
<!-- CD詳細 -->
  <div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4">
          <img src="/assets/no_image.jpeg", width="300px" height="300px">
        </div>
        <div class="col-md-6">
          <table class="table table-striped">
  	          <thead>
              <tr>
                <h4>CD情報</h4>
              </tr>
              </thead>
  	          <tbody>
  	  	        <tr>
  	  	          <td>タイトル</td>
  	  	          <td><p><%= @cd_product.name %><p></td>
  	  	          <td></td>
  	  	        </tr>
  	  	        <tr>
  	  	          <td>アーティスト</td>
  	  	          <td><%= @artist.name %></td>
  	  	          <td></td>
  	  	        </tr>
  	            <tr>
  	  	          <td>価格（税込）</td>
  	  	          <td>￥<%= @cd_product.price %></td>
  	  	          <td><% if @cd_product.stock_number == 0 then %>SOLDOUT
                      <% else %>
                      <% @cd_product.stock_number >= 1  %>在庫あり
                      <% end %>
                  </td>
  	  	        </tr>
  	        </tbody>
          </table>
          <button type="button" class="btn btn-danger btn-lg">カートに入れる</button>
          <button type="button" class="btn btn-warning btn-lg">
           <% if !Favorite.exists?(user_id:current_user.id,cd_product_id:@cd_product.id) %>
            <%= link_to "お気に入り",cd_product_add_path(@cd_product),method: :post %>
            <% else %>
            <%= link_to "お気に入り解除",cd_product_add_path(@cd_product),method: :delete %>
            <% end %>
            </button>
          <table class="table table-bordered">
              <thead>
             <tr>
              <h4>商品情報</h4>
              </tr>
            </thead>
              <tbody>
          	  	<tr>
          	  	  <td>発売日</td>
          	  	  <td><%= @cd_product.release_date %></td>
          	  	</tr>
            	<tr>
          	  	  <td>ジャンル</td>
          	  	  <td><%= @genre.name %></td>
          	  	</tr>
           	  	<tr>
          	  	  <td>レーベル</td>
          	  	  <td><%= @label.name %></td>
          	  	</tr>
          	  </tbody>
          </table>
          </div>
        <div class="col-md-1"></div>
    </div>

          <table class="table table-hover">
            <thead>
              <tr>
            	<h4>収録曲</h4>
              </tr>
            </thead>
            <tbody>
              <tr>
            	  <td>1</td>
            	  <td>ピースサイン</td>
              </tr>
              <tr>
            	<td>2</td>
            	<td>Neighbourhood</td>
              </tr>
              <tr>
            	<td>3</td>
            	<td>ゆめくいしょうじょ</td>
              </tr>
              <tr>
            	<td>4</td>
            	<td>ピースサイン (Instrumental)</td>
              </tr>
            </tbody>
          </table>
<!-- CD詳細ここまで -->

<!-- 映画、ドラマ、CM情報 -->
          <div class="well well-sm">アーティスト関連情報</div>
              <div class="row">
                <div class="col-md-4">
                  <img src="/assets/dorama_top.jpeg", width="300px" height="150px">
                </div>
              <div class="col-md-8">
                <table class="table">
                  <thead>
                    <tr>
                      <th>映画、ドラマ、CM会社名</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>公開日、放送開始日、放送曜日、youtubeアップ日</td>
                    </tr>
                  </tbody>
                </table>
              </div>
          </div>
<!-- 映画、ドラマ、CM情報ここまで -->

<!-- 関連楽曲 -->
          <div class="well well-sm">このアーティストの関連楽曲</div>
            <table>
              <thead></thead>
              <tbody>
            	<tr>
              	  <td class="cd_position">
              	  	<img src="/assets/no_image.jpeg", width="220px" height="220px">
					<p>CD名</p>
					<p>アーティスト名</p>
				  </td>
	         	  <td  class="cd_position">
              	  	<img src="/assets/no_image.jpeg", width="220px" height="220px">
					<p>CD名</p>
					<p>アーティスト名</p>
				  </td>
				  <td  class="cd_position">
              	  	<img src="/assets/no_image.jpeg", width="220px" height="220px">
					<p>CD名</p>
					<p>アーティスト名</p>
				  </td>
	         	  <td  class="cd_position">
              	  	<img src="/assets/no_image.jpeg", width="220px" height="220px">
					<p>CD名</p>
					<p>アーティスト名</p>
				  </td>
				  <td class="cd_position">
              	  	<img src="/assets/no_image.jpeg", width="220px" height="220px">
					<p>CD名</p>
					<p>アーティスト名</p>
				  </td>
            	</tr>
              </tbody>
            </table>
<!-- 関連楽曲ここまで -->
        </div>
      </div>
    </div>
  </body>
</html>