<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Users#show</h1>
	<p>Find me in app/views/users/show.html.erb</p>
	<div class="body">
		<div class="profile container">
			<div class="row">
			<div class="col-xs-6">
					<div class=profile-box>
						<ul class="list-group">
							<% @user.address_lines.each do |addressline| %>
							<li class="list-group-item list-group-item-info" style="text-align: center"><strong>ユーザープロフィール</strong></li>
							<li class="list-group-item"><strong>ユーザーネーム</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= @user.full_name %></li>
							<li class="list-group-item"><strong>ユーザーネーム(カナ)</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= @user.full_name_kana %></li>
							<li class="list-group-item"><strong>メールアドレス</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= @user.email %></li>
							<li class="list-group-item"><strong>電話番号</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= @user.telephone %></li>
							<li class="list-group-item"><strong>郵便番号</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;〒<%= addressline.postcode %></li>
							<li class="list-group-item"><strong>都・道・府・県</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= addressline.prefecture_id %></li>
							<li class="list-group-item"><strong>区・市・町・村</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= addressline.city %></li>
							<li class="list-group-item"><strong>建物名・番地 </strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= addressline.address %></li>
							<% end %>
						</ul>
					</div>
					<div>
		        		<p><%= link_to "プロフィール編集", edit_user_path(@user), class: "btn btn-success " %></p>
					</div>
			</div>
		</div>
	</div>
</body>
</html>