<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<div class="profile-container">
	<h4>ユーザーネーム</h4>
    <p class="profile-name"><%= @user.name %></p>
    <h4>メールアドレス</h4>
    <p class="profile-email"><%= @user.email %></p>
    <label>ユーザー住所</label>
   <% @user.address_lines.each do |addressline| %>
<table>
	<thead>
		<tr>
			<th>郵便番号</th>
		</tr>
		<tr>
			<td><%= addressline.postcode %></td>
		</tr>
		<tr>
			<th>区・市・町・村</th>
		</tr>
		<tr>
			<td><%= addressline.city %></td>
		</tr>
		<tr>
			<th>建物名・番地</th>
		</tr>
		<tr>
			<td><%= addressline.address %></td>
		</tr>
	</tbody>
	</thead>
	<tbody>

	</tbody>
</table>
<% end %>

	<% if @user.id == current_user.id %>
        <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
    <% end %>
</div>
</body>
</html>