<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1>AddressLines#edit</h1>
<%= form_for(@addressline) do |s| %>
 	<div>
        <label>郵便番号</label>
        <%= s.text_field :postcode ,placeholder: "○○○-○○○○" %>
    </div>
    <%= render 'address_lines/form' ,s:s %>
    <!-- 都道府県を選択するformです -->
    <div>
        <label>市・町・村</label>
        <%= s.text_field :city ,placeholder: ""  %>
    </div>
    <div>
        <label>建物名・番地</label>
        <%= s.text_field :address ,placeholder: ""  %>
    </div>

 <%= s.submit "変更を保存", class:"btn" %>
<% end %>
</body>
</html>