<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>AddressLines#new</h1>
	<%= form_for(@addressline) do |f| %>
	<h4>郵便番号</h4>
	    <%= f.text_field :postcode %>
	    <%= render 'address_lines/form' %>
	    <!-- 都道府県を選択するformです -->
	    <h4>市・町・村</h4>
	    <%= f.text_field :city %>
	    <h4>建物名・番地</h4>
	    <%= f.text_field :address %>
	    <%= f.submit '登録' %>
 	<% end %>
</body>
</html> 