<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
</head>
<body>
  <%= render partial: 'cd_products/header' %>
  <div class="main clearfix">
    <div class="main-content" style="height: 900px;">

      <%= form_for(resource, as: resource_name, url: {action: "complete"}) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <h4><%= f.label :last_name %><h4>
          <%= f.hidden_field :last_name %>
          <h4><%= @user.last_name %></h4>
        </div>

        <div class="field">
          <h4><%= f.label :first_name %></h4>
          <%= f.hidden_field :first_name %>
          <h4><%= @user.first_name %></h4>
        </div>

        <div class="field">
          <h4><%= f.label :last_name_kana %></h4>
          <%= f.hidden_field :last_name_kana %>
          <h4><%= @user.last_name_kana %></h4>
        </div>

        <div class="field">
          <h4><%= f.label :first_name_kana %></h4>
          <%= f.hidden_field :first_name_kana %>
          <h4><%= @user.first_name_kana %></h4>
        </div>

        <div class="field">
          <h4><%= f.label :telephone %></h4>
          <%= f.hidden_field :telephone %>
          <h4><%= @user.telephone %></h4>
        </div>

        <%= f.fields_for :address_lines do |s| %>
        	<div>
            <h4><%= s.label "addressname" %></h4>
            <%= s.hidden_field :name %>
            <h4><%= params[:user][:address_lines_attributes][:"0"][:name]%></h4>
          </div>

          <div>
           	<h4><%= s.label :postcode %></h4>
           	<%= s.hidden_field :postcode %>
           	<h4><%= params[:user][:address_lines_attributes][:"0"][:postcode]%></h4>
         	</div>

          <div>
            <h4><%= s.label :prefecture %></h4>
            <%= s.hidden_field :prefecture_id %>
            <h4><%= params[:user][:address_lines_attributes][:"0"][:prefecture_id]%></h4>
          </div>

         	<div>
           	<h4><%= s.label :city %></h4>
           	<%= s.hidden_field :city %>
           	<h4><%= params[:user][:address_lines_attributes][:"0"][:city]%></h4>
         	</div>

         	<div>
           	<h4><%= s.label :address %></h4>
           	<%= s.hidden_field :address %>
           	<h4><%= params[:user][:address_lines_attributes][:"0"][:address]%></h4>
         	</div>
        <% end %>

        <div class="field">
          <h4><%= f.label :email %></h4>
          <%= f.hidden_field :email %>
          <h4><%= @user.email %></h4>
        </div>

        <div class="field">
          <h4><%= f.label :password %></h4>
          <%= f.hidden_field :password %>
          <h4><%= @user.password %></h4>
        </div>

        <div class="actions">
          <%= f.submit "Sign up" %>
        </div>

        <br />

        <div class="actions">
          <%= link_to '戻る', new_user_registration_path %>
        </div>
      <% end %>
    </div>
  <%= render partial: 'cd_products/sidebar' %>
  </div>
  <%= render partial: 'cd_products/footer' %>
</body>
</html>

